<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AriyaInfoTech\AIContentGenerator\Model\ConfigCompletion">
        <arguments>
            <argument name="pool" xsi:type="array">
                <item name="0" xsi:type="object">AriyaInfoTech\AIContentGenerator\Model\CompletionRequest\MetaDescription</item>
                <item name="1" xsi:type="object">AriyaInfoTech\AIContentGenerator\Model\CompletionRequest\MetaKeywords</item>
                <item name="2" xsi:type="object">AriyaInfoTech\AIContentGenerator\Model\CompletionRequest\MetaTitle</item>
            </argument>
        </arguments>
    </type>
</config>
